/*--------------- imports ---------------*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&=swap");
@font-face {
  font-family: 'SourceSansPro';
  src: url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/*--------------- colors ---------------*/
/*--------------- fonts-sizes ---------------*/
.order .container .block-title h3, .order .container .block-title h2 {
  color: #222;
}

.order .container .block-title h3 {
  font-size: 18px;
  line-height: 30px;
}

.order .container .order__inner {
  margin-top: 60px;
}

.order .container .order__inner .order__conatcts {
  margin-top: 100px;
}

.order .container .order__inner .order__conatcts .contacts__item {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order .container .order__inner .order__conatcts .contacts__item .icon {
  width: 30px;
  height: 30px;
  fill: #dfdfdf;
  margin-right: 20px;
}

.order .container .order__inner .order__conatcts .contacts__item a {
  color: #717171;
  font-family: 'OpenSans';
  font-size: 16px;
  font-weight: 300;
}

.order .container .order__inner .order__conatcts .contacts__item:hover .icon,
.order .container .order__inner .order__conatcts .contacts__item:hover a {
  color: #EF6465;
  fill: #EF6465;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}

.form input,
.form textarea {
  width: 100%;
  display: block;
  font-size: 16px;
  color: #222;
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid rgba(113, 113, 113, 0.2);
}

.form button {
  width: 100%;
  background-color: #eb4949;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 18px;
  font-size: 18px;
  border-radius: 5px;
}

.form button:hover {
  background-color: rgba(235, 73, 73, 0.9);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  cursor: pointer;
}

.order-socials {
  background-color: #000;
  padding: 100px 0 20px;
}

.order-socials .block-title h3 {
  font-size: 18px;
  line-height: 30px;
}

.order-socials .order-socials__inner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.order-socials .order-socials__inner .order-socials__item {
  margin: 10px 20px;
  display: block;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.order-socials .order-socials__inner .order-socials__item .icon {
  width: 41px;
  height: 41px;
  fill: #fff;
}

.order-socials .order-socials__inner .order-socials__item:hover {
  background-color: #EB4949;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}

@media (min-width: 768px) {
  .order {
    padding: 50px 0;
  }
  .order .container .block-title h3 {
    font-size: 25px;
    line-height: 38px;
  }
  .order .container .order__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order .container .order__inner .form {
    width: 48%;
    max-width: 555px;
  }
  .order .container .order__inner .order__conatcts {
    margin-top: 0;
    margin-left: 70px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-slide {
  width: 100%;
}

.slider {
  position: relative;
}

.slider .slider__item img {
  width: 100%;
  height: auto;
  max-height: 700px;
}

.slider .slick-arrow {
  position: absolute;
  top: calc(50% - 22.5px);
  font-size: 0;
  z-index: 3;
  display: block;
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  padding: 30px 20px;
  opacity: .8;
}

.slider .slick-arrow:hover {
  opacity: 1;
  cursor: pointer;
}

.slider .slick-prev {
  left: 0px;
  background: url("../img/next.svg") 0 0/30% no-repeat rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(180deg) translateY(40%);
          transform: rotate(180deg) translateY(40%);
  background-position: center;
  width: 10px;
  height: 10px;
}

.slider .slick-next {
  right: 0px;
  background: url("../img/next.svg") 0 0/30% no-repeat rgba(0, 0, 0, 0.3);
  background-position: center;
  width: 10px;
  height: 10px;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
  /* active-dot */
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 7px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgba(50, 50, 50, 0.2);
  border: none;
}

.slider .slick-dots button:hover {
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  background: #EB4949;
}

/*--------------- box ---------------*/
.box {
  padding-top: 80px;
}

.box .slider {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.box .box__content {
  margin-top: 50px;
}

.box .box__content h1 {
  font-size: 55px;
  line-height: 70px;
  color: #222;
}

.box .box__content p {
  margin-top: 20px;
  line-height: 24px;
  font-size: 16px;
  color: #717171;
}

/*--------------- table ---------------*/
.table {
  padding-bottom: 40px;
}

.table .container .grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border-radius: 5px;
}

.table .container .grid .table__item {
  width: 100%;
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid rgba(113, 113, 113, 0.2);
  border-left: 1px solid rgba(113, 113, 113, 0.2);
  border-right: 1px solid rgba(113, 113, 113, 0.2);
}

.table .container .grid .table__item p {
  font-family: "OpenSans";
  font-size: 13px;
  font-weight: 300;
  color: #000;
}

.table .container .grid .table__item::before {
  content: attr(data-label);
  position: absolute;
  font-size: 13px;
  left: 0;
  width: 50%;
  text-align: left;
  padding-left: 25px;
}

.table .container .grid .table__item:nth-child(even) {
  background-color: rgba(113, 113, 113, 0.1);
}

.table .container .grid .column-title {
  text-align: center;
  margin-top: 50px;
  border: 1px solid rgba(113, 113, 113, 0.2);
}

.table .container .grid .column-title p {
  font-family: "OpenSans";
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.table .container .grid .hide-item {
  display: none;
}

.table .container .for-rows {
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.table .container .two-col .table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table .container .two-col .table__item::before {
  width: 60%;
}

.table .container .two-col .hide-item {
  display: none;
}

.table .sentence {
  display: block;
  margin-top: 50px;
  font-size: 13px;
  color: #222;
}

/*--------------- callback ---------------*/
.callback {
  padding-bottom: 100px;
}

.callback h3 {
  font-size: 25px;
  letter-spacing: 1px;
  color: #222;
  margin-bottom: 20px;
}

/*--------------- description ---------------*/
.description--offset-bottom {
  padding-bottom: 70px;
}

.description--offset-bottom a {
  color: #EB4949;
}

/*--------------- @media ---------------*/
@media (min-width: 480px) {
  .table .container .grid .table__item::before {
    padding-left: 45px;
  }
}

@media (min-width: 768px) {
  .box .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box .container .slider {
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
  }
  .box .container .box__content {
    width: 40%;
    margin: 0 0 0 30px;
  }
  .box .container .box__content h1 {
    font-size: 55px;
    line-height: 70px;
    color: #222;
  }
  .box .container .box__content p {
    margin-top: 20px;
    line-height: 24px;
    font-size: 16px;
    color: #717171;
  }
  .table {
    padding: 50px 0;
  }
  .table .container .grid {
    -ms-grid-rows: (1fr)[7] 0px;
        grid-template-rows: repeat(7, 1fr) 0px;
    grid-auto-flow: column;
    overflow: hidden;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    border: 1px solid rgba(113, 113, 113, 0.2);
    border-bottom: none;
  }
  .table .container .grid .table__item {
    text-align: left;
    border-left: none;
    border-right: 0;
    border-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .table .container .grid .table__item::before {
    display: none;
  }
  .table .container .grid .table__item:nth-child(even) {
    background-color: rgba(113, 113, 113, 0.1);
  }
  .table .container .grid .column-title {
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .table .container .grid .hide-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .table .container .grid .empty {
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 0;
  }
  .table .container .six-col {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .table .container .four-col {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .table .container .two-col {
    -ms-grid-columns: 9fr 2fr;
        grid-template-columns: 9fr 2fr;
  }
  .table .container .for-rows {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .table .container .for-rows .table__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .callback .container .form {
    max-width: 251px;
  }
}

/*--------------- general ---------------*/
*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SourceSansPro";
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

input,
textarea {
  outline: none;
}

/*--------------- index ---------------*/
.none {
  display: none;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.page-wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background: url("../img/header-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-toggle span {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

header .nav-toggle--active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(4px);
          transform: rotate(45deg) translateY(4px);
}

header .nav-toggle--active span:nth-child(2) {
  display: none;
}

header .nav-toggle--active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-4px);
          transform: rotate(-45deg) translateY(-4px);
}

header .header__nav {
  background-color: #000;
  position: absolute;
  z-index: 5;
  top: 90px;
  right: 0;
  width: 100%;
  display: none;
}

header .header__nav .nav__list .drop-down {
  position: relative;
}

header .header__nav .nav__list .drop-down .arrow-icon {
  margin-left: 0;
}

header .header__nav .nav__list .drop-down .arrow-icon::after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  border-left: 2px solid #717171;
  border-bottom: 2px solid #717171;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: 130px;
}

header .header__nav .nav__list .drop-down .arrow-icon:hover::after {
  border-color: #EF6465;
}

header .header__nav .nav__list .drop-down a {
  margin-left: 30px;
}

header .header__nav .nav__list .icon--active .arrow-icon::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 15px;
}

header .header__nav .nav__list .dropp-down__menu {
  display: none;
}

header .header__nav .nav__list a {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 15px;
}

header .header__nav .nav__list a:last-child {
  border-bottom: none;
}

header .header__nav .nav__list a:hover {
  cursor: pointer;
  color: #EF6465;
}

header .dropp-down--active,
header .header__nav--active {
  display: block;
}

.logo {
  width: 118px;
  height: 50px;
}

.phone-number {
  font-size: 25px;
  color: #EF6465;
  margin-left: 30px;
}

/*--------------- intro  ---------------*/
.intro {
  background-image: url("../img/main-bg.jpg");
  height: calc(100vh - 70px);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 15px;
}

.intro::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.intro .intro__content {
  max-width: 890px;
  z-index: 3;
}

.intro .intro__content h1 {
  font-size: 25px;
  padding: 10px;
  line-height: 40px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 30px;
}

.intro .intro__content a {
  background-color: rgba(255, 255, 255, 0.42);
  padding: 15px 30px;
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  z-index: 3;
}

.intro .intro__content a:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  cursor: pointer;
}

/*--------------- about ---------------*/
.about {
  padding: 75px 0;
  background-color: #000;
}

.about .about__content {
  margin-top: 30px;
}

.about .about__content article {
  margin-bottom: 70px;
}

.about .about__content article p {
  font-family: "OpenSans";
  font-size: 16px;
  color: #717171;
  line-height: 24px;
  font-weight: 300;
}

.about .about__content article .about_img {
  margin-top: 70px;
}

.about .about__content .skills {
  margin-top: 70px;
}

.about .about__content .skills__item {
  width: 100%;
}

.about .about__content .skills p {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 8px;
}

.about .about__content .skills span {
  content: "";
  display: block;
  height: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  margin-bottom: 20px;
}

.about .about__content .skills span .js-bar {
  content: '';
  display: block;
  height: 15px;
  background-color: #EB4949;
  position: absolute;
  top: 0;
  left: 0;
}

.about .about__content .skills span .bar1 {
  width: 95%;
}

.about .about__content .skills span .bar2 {
  width: 90%;
}

.about .about__content .skills span .bar3 {
  width: 85%;
}

.about .about__content .skills span .bar4 {
  width: 95%;
}

@-webkit-keyframes bar-grow {
  0% {
    width: 0%;
  }
  100% {
    max-width: 100%;
  }
}

@keyframes bar-grow {
  0% {
    width: 0%;
  }
  100% {
    max-width: 100%;
  }
}

.block-title h2 {
  color: #fff;
  font-size: 42px;
  font-weight: 300;
}

.block-title h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  margin-top: 25px;
  line-height: 38px;
}

/*--------------- services ---------------*/
.services {
  background-color: #000;
}

.services .container {
  padding: 0;
}

.card {
  width: 100%;
  border: 2px solid #fff;
  overflow: hidden;
  position: relative;
}

.card__inner:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card__inner img {
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.card__subscribe {
  width: 100%;
  background-color: #EF6465;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  letter-spacing: 1.5px;
}

/*--------------- terms ---------------*/
.terms {
  background-color: #000;
  padding-top: 40px;
}

.terms__inner {
  margin-top: 50px;
}

.terms__inner .terms__item {
  width: 100%;
  color: #fff;
  padding-bottom: 50px;
  text-align: center;
}

.terms__inner .terms__item .icon {
  width: 50px;
  height: 50px;
  fill: #fff;
  display: block;
  margin: 0 auto;
}

.terms__inner .terms__item h4 {
  font-size: 20px;
  margin-top: 25px;
}

.terms__inner .terms__item p {
  margin-top: 15px;
  font-size: 13px;
  line-height: 24px;
}

/*--------------- section ---------------*/
.banner {
  padding-top: 30px;
  background-color: #000;
}

.banner img {
  margin-top: 100px;
  max-height: 700px;
}

.banner a {
  color: #EF6465;
}

/*--------------- description ---------------*/
.description {
  padding-top: 50px;
}

.description h2 {
  font-size: 42px;
  line-height: 63px;
  color: #222;
  margin-bottom: 20px;
}

.description p {
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 24px;
  color: #717171;
  font-weight: 300;
  margin-bottom: 30px;
}

.description p span {
  font-weight: 500;
  font-size: 14px;
}

.description ul {
  list-style: none;
}

.description ul li {
  color: #222;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description ul li::before {
  content: "\2022";
  color: #717171;
  font-weight: bold;
  display: block;
  width: 10px;
  margin-top: 2px;
  margin-left: -20px;
  margin-right: 10px;
}

.description ul li p {
  margin-bottom: 10px;
}

/*--------------- footer ---------------*/
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  background-color: #000;
  color: rgba(255, 255, 255, 0.7);
  padding: 50px 0;
}

footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer a:hover {
  cursor: pointer;
  color: #EF6465;
}

footer .copiryght {
  text-align: center;
}

footer .copiryght span {
  font-family: 'OpenSans';
  font-size: 16px;
}

footer .copiryght p {
  margin-top: 10px;
  font-size: 13px;
}

footer .contacts {
  margin-top: 30px;
  font-size: 16px;
}

footer .contacts a {
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
}

footer .footer-nav {
  text-align: center;
  margin-top: 30px;
}

footer .footer-nav a {
  display: block;
  margin-top: 10px;
  padding: 0 10px 0 0;
  font-size: 13px;
}

footer .socials {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socials .icon {
  width: 40px;
  height: 40px;
  display: block;
  margin: 10px;
}

footer .socials .facebook {
  fill: rgba(60, 89, 151, 0.7);
}

footer .socials .facebook:hover {
  cursor: pointer;
  fill: #3c5997;
}

footer .socials .pinterest {
  fill: rgba(228, 16, 14, 0.7);
}

footer .socials .pinterest:hover {
  cursor: pointer;
  fill: #e4100e;
}

footer .socials .twitter {
  fill: rgba(13, 154, 201, 0.7);
}

footer .socials .twitter:hover {
  cursor: pointer;
  fill: #0d9ac9;
}

.up-btn {
  width: 40px;
  height: 40px;
  display: block;
  background-color: rgba(235, 73, 73, 0.8);
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 3;
  display: none;
}

.up-btn span {
  width: 15px;
  height: 15px;
  display: block;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 40%;
  left: 31%;
}

.up-btn:hover {
  background-color: #eb4949;
  cursor: pointer;
}

.up-btn--active {
  display: block;
}

/*--------------- media ---------------*/
@media (min-width: 480px) {
  .container {
    padding: 0 30px;
  }
  .terms__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 30px;
  }
  .terms__inner .terms__item {
    text-align: left;
  }
  .terms__inner .terms__item .icon {
    margin-left: 0px;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .footer-nav {
    margin-top: 0;
    text-align: left;
  }
  footer .container .socials {
    margin-top: 0;
    display: block;
  }
  footer .container .copiryght {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header__left .phone-number {
    display: none;
  }
  header .nav-toggle {
    display: none;
  }
  header .header__nav {
    background-color: transparent;
    position: static;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: block;
  }
  header .header__nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header__nav .nav__list li {
    list-style: none;
  }
  header .header__nav .nav__list .drop-down {
    margin-right: 20px;
  }
  header .header__nav .nav__list .drop-down .arrow-icon {
    margin-left: 0;
  }
  header .header__nav .nav__list .drop-down .arrow-icon::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    border-left: 2px solid #717171;
    border-bottom: 2px solid #717171;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: 115px;
  }
  header .header__nav .nav__list .drop-down .dropp-down__menu {
    width: 220px;
    position: absolute;
    top: 63px;
    left: 0;
    background-color: #000;
  }
  header .header__nav .nav__list .drop-down .dropp-down__menu a {
    margin-left: 0;
  }
  header .header__nav .nav__list .icon--active .arrow-icon::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 15px;
  }
  header .header__nav .nav__list .dropp-down__menu {
    display: none;
  }
  header .header__nav .nav__list a {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
  }
  header .header__nav .nav__list a:last-child {
    border-bottom: none;
  }
  header .header__nav .nav__list a:hover {
    cursor: pointer;
    color: #EF6465;
  }
  header .dropp-down--active,
  header .header__nav--active {
    display: block;
  }
  .intro .intro__content h1 {
    font-size: 42px;
    line-height: 60px;
  }
  .services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .services .container .card {
    width: 50%;
  }
  .about .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .about__content article {
    width: 48%;
    margin: 0;
  }
  .about .about__content article .skills {
    margin-top: 50px;
  }
  .about .about__content .about__img {
    margin: 0;
    width: 48%;
  }
  .terms__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;
  }
  .terms__inner .terms__item {
    max-width: 350px;
    text-align: left;
  }
  .terms__inner .terms__item .icon {
    margin-left: 0px;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .container .footer-nav .nav-page {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=style.css.map */