@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Light.woff') format('woff'),
		url('../fonts/SourceSansPro-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Regular.woff') format('woff'),
		url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Bold.woff') format('woff'),
		url('../fonts/SourceSansPro-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}