.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
    align-items: flex-start;
}
.slick-slide {
	width: 100%;
}
.slider{
    position: relative;
    .slider__item{     
        img{
            width: 100%;
            height: auto;
            max-height: 700px;
        }
    }
    .slick-arrow{
        position: absolute;
        top: 50%;
        font-size: 0;
        z-index: 3;
        display: block;
        border:none;
        transform: translateY(-50%);
        position: absolute;
        padding: 30px 20px;
        opacity: .8;
        &:hover{
            opacity: 1;
            cursor: pointer;
        }
    }
    .slick-prev{
        left: 0px;
        background:url('../img/next.svg') 0 0 / 30% no-repeat rgba($primary-black, .3);
        transform: rotate(180deg) translateY(40%);
        background-position:center;
        width: 10px;
        height: 10px;
    }
    .slick-next{
        right: 0px;
        background:url('../img/next.svg') 0 0 / 30% no-repeat rgba($primary-black, .3); 
        background-position:center;
        width: 10px;
        height: 10px;

    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;  
        li {
            list-style: none;
            margin: 0 7px;
        }
        button {
            font-size: 0;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: rgba($primary-grey,  .2);
            border:none;
            &:hover{
                cursor:pointer;
            }
        }

        /* active-dot */
        li.slick-active button {
            background: $secondary-pink;
        }
    }
}
 