/*--------------- colors ---------------*/

$primary-grey:#323232;
$secondary-grey:#717171;
$primary-pink: #EF6465;
$secondary-pink:#EB4949;
$primary-black:#000;
$secondary-black:#222;
$primary-white: #fff;
$grey-icons-color:#DFDFDF;

/*--------------- fonts-sizes ---------------*/

$OpenSans-font: 'OpenSans';
$SourceSansPro-font: 'SourceSansPro';
$f-size-min:13px;
$f-size-little: 16px;
$f-size-medium: 25px;
$f-size-modify: 14px;
$f-size-big: 42px;