/*--------------- colors ---------------*/

$primary-grey:#323232;
$secondary-grey:#717171;
$primary-pink: #EF6465;
$secondary-pink:#EB4949;
$primary-black:#000;
$secondary-black:#222;
$primary-white: #fff;

/*--------------- fonts-sizes ---------------*/

