/*--------------- imports ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&=swap');
@import '_font';
@import '_vars';
@import '_order-page';
@import '_uslugi';

/*--------------- general ---------------*/
*,
html,
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $SourceSansPro-font;
    font-weight: 300;
}

a{
    text-decoration: none;
}
img,
picture{
    display: block;
    width: 100%;
}
input, 
textarea{
    outline: none;
}


/*--------------- index ---------------*/
.none{
    display: none;
}
.page-wrapper{
    display: flex;
	flex-direction: column;
	height: 100%;
    min-height: 100vh;
    overflow:hidden;
    .content {
        flex: 1 0 auto;
    }
}

.container{
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background:url('../img/header-back.jpg');
    background-size:cover;
    background-repeat:no-repeat;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    .header__left{
        display: flex;
        align-items: center;
    }
    .nav-toggle{
        span{
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: $primary-white;
            margin: 4px 0;
            transition: all .3s linear;
        }
    }
    .nav-toggle--active{

        span:nth-child(1){
            transform: rotate(45deg) translateY(4px);
        }
        span:nth-child(2){
            display: none;
        }
        span:nth-child(3){
            transform: rotate(-45deg) translateY(-4px);
        }
    }
   
    
    .header__nav{
        background-color:$primary-black;
        position: absolute;
        z-index: 5;
        top: 90px;
        right: 0;
        width: 100%;
        display: none;
        .nav__list{
            .drop-down{
                position: relative;
                .arrow-icon{
                    margin-left: 0;
                    &::after{
                        content: '';
                        width: 10px;
                        height: 10px;
                        display:block;
                        border-left: 2px solid $secondary-grey;
                        border-bottom: 2px solid  $secondary-grey;
                        transform: rotate(-45deg);
                        position: absolute;
                        top: 10px;
                        left: 130px;
                    }
                    &:hover{
                        &::after{
                            border-color: $primary-pink;
                        }
                    }
                }
               
                a{
                    margin-left: 30px;

                }
            }
            .icon--active .arrow-icon::after{
                transform: rotate(135deg);
                top: 15px;
            }

            .dropp-down__menu{
                display: none;
            }
            a{
                display: block;
                text-transform: uppercase;
                font-size: $f-size-little;
                color:rgba($primary-white, .7);
                padding: 10px 15px;
                &:last-child{
                    border-bottom:none;
                }
                &:hover{
                    cursor: pointer;
                    color:$primary-pink;
                }
                
            }

        }
       
    }
    .dropp-down--active,
    .header__nav--active{
        display: block;
    }
    
}

    
.logo{
    width: 118px;
    height:50px;
}

.phone-number{
    font-size: 24px;
    color: $primary-pink;
    margin-left: 10px;
}

/*--------------- intro  ---------------*/


.intro {
    background-image: url('../img/main-bg.jpg');
    height: calc(100vh - 90px);
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 15px;
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3);
        z-index: 1;
    }
    .intro__content{
        max-width: 890px;
        z-index: 3;
        h1{
            font-size: $f-size-medium;
            padding: 10px;
            line-height: 40px;
            font-weight: 300;
            background-color:rgba($primary-white, 0.4);
            margin-bottom: 30px;
        }
        a{
            background-color: rgba($primary-white, 0.42);
            padding: 15px 30px;
            border: 2px solid $primary-black;
            text-transform: uppercase;
            font-size: $f-size-min;
            color: $primary-black;
            z-index: 3;

            &:hover{
                background-color:$primary-black;
                color: $primary-white;
                transition:  all .1s linear;
                cursor: pointer;
            }
        }
    }
}

.wrapper-background-black{
    background-color:$primary-black;
}

/*--------------- about ---------------*/


.about {
    padding: 75px 0;
    .about__content {
        margin-top: 30px;
        .about__article{
            margin-bottom: 70px;
            p{
                font-family: $OpenSans-font;
                font-size: $f-size-little;
                color:#717171;
                line-height: 24px;
                font-weight: 300;
            }
            .about_img{
                margin-top: 70px;
            }
        } 
        .skills {
            margin-top: 70px;
            &__item {
                width: 100%;
            }
            p{
                text-transform: uppercase;
                font-size: $f-size-little;
                line-height: 20px;
                color:$primary-white;
                margin-bottom: 8px;
            }
            span{
                content: "";
                display: block;
                height: 15px;
                background-color: rgba($primary-white, .2);
                position: relative;
                margin-bottom: 20px;
                .js-bar{
                    content: '';
                    height: 15px;
                    background-color:$secondary-pink;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;
                }
                .bar1{
                    max-width: 95%;
                }
                .bar2{
                    max-width: 90%;
                    animation-delay: .5s;
                }
                .bar3{
                    max-width: 85%;
                    animation-delay: 1s;
                }
                .bar4{
                    max-width: 95%;
                    animation-delay: 1.5s;
                }
                .bar-active{
                   animation-name: barGrow;
                   animation-duration: 1s;
                   animation-timing-function: linear;
                   animation-direction: normal;
                   animation-iteration-count: 1;
                   animation-fill-mode: forwards;
                   display: block;
                }
            }    
        }
    }    
}

// animation
@keyframes barGrow{
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

// block-tittle
.block-title{
    h2{
        color:$primary-white;
        font-size: $f-size-big;
        font-weight:300;
    }
    h3{
        color:$primary-white;
        font-size:$f-size-medium;
        font-weight:300;
        margin-top: 25px;
        line-height: 38px;
    }
}

// bars
/*--------------- services ---------------*/

.services {
   .container{
       padding: 0;
   }
}

.card {
    width: 100%;
    border: 2px solid $primary-white;
    overflow:hidden;
    position: relative;
    &__inner {  
        //zoom
        display: flex;
        height: 100%;
        max-height: 450px;
        transition: transform .3s ease-in-out;
        &:hover{
            transform: scale(1.2);
            
        } 
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__subscribe {
        width: 100%;
        background-color:$primary-pink;
        color:$primary-white;
        font-size: $f-size-little;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        letter-spacing: 1.5px;
    }
}

/*--------------- terms ---------------*/

.terms{
    padding-top: 40px;
    &__inner {
        margin-top: 50px;
        .terms__item {
            width: 100%;
            color:$primary-white; 
            padding-bottom: 50px;
            text-align: center;
            .icon{
                width: 50px;
                height: 50px;
                fill: $grey-icons-color;
                display: block;
                margin:  0 auto;
            }
            
            h4{
               font-size: 20px;
               margin-top: $f-size-medium;
            }
            p{
                margin-top: 15px;
                font-size: $f-size-min;
                line-height: 24px;
            }
        }
    } 
}


/*--------------- section ---------------*/
.banner{
    padding-top: 30px;
    img{
        margin-top: 100px;
        max-height: 700px;

        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 1s ease;
    }
    a{
        color:$primary-pink;
    }
}
.js-banner.banner-active img{
    transform: translate(0px, 0px);
    opacity:1;
}

/*--------------- description ---------------*/

.description{
    padding-top: 50px;
    h2{
        font-size: 42px;
        line-height: 63px;
        color:$secondary-black;
        margin-bottom: 20px;
    }
    p{
        font-family: $OpenSans-font;
        font-size: $f-size-min;
        line-height: 24px;
        color:$secondary-grey;
        font-weight: 300;
        margin-bottom: 30px;
        span{
            font-weight: 500;
            font-size: $f-size-modify;
        }
    }
    ul{
        list-style: none;
        li{
            color:$secondary-black;
            margin-left: 20px;
            display: flex;
            &::before{
                content: "\2022"; 
                color: $secondary-grey;
                font-weight: bold; 
                display: block; 
                width:10px;
                margin-top: 2px;
                margin-left: -20px;
                margin-right: 10px;
            }
            p{
                margin-bottom: 10px;  
            }
        }
    }
    
}

/*--------------- footer ---------------*/

footer{
    flex: 0 0 auto;
    align-self: flex-end;
    width: 100%;
    background-color:$primary-black;
    color:rgba($primary-white, 0.7);
    padding: 50px 0;
    a{
        color:rgba($primary-white, 0.7);
        &:hover{
            cursor: pointer;
            color:$primary-pink;
        }
    }
    .copiryght{
        text-align: center;
        span{
            font-family: 'OpenSans';
            font-size: $f-size-little;
        }
        p{
            margin-top: 10px;
            font-size: $f-size-min;
        }
    }
    .contacts{
        margin-top: 30px;
        font-size: $f-size-little;
        a{
            margin-bottom: 10px;
            display: block;
            font-weight: 400;
          
        }
    }
    .footer-nav{
        text-align: center;
        margin-top: 30px;
        a{
            display: block;
            margin-top: 10px;
            padding: 0 10px 0 0;
            font-size: 13px;
         
        }
    }
    .socials{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .icon{
            width: 40px;
            height: 40px;
            display: block;
            margin: 10px;
        }
        .facebook{
            fill: rgba(60,89,151, .7);
            &:hover{
                cursor: pointer;
                fill: rgba(60,89,151, 1);
            }
        }
        .pinterest{
            fill: rgba(228,16,14, .7);
            &:hover{
                cursor: pointer;
                fill: rgba(228,16,14, 1);
            }
        }
        .twitter{
            fill: rgba(13,154,201, .7);
            &:hover{
                cursor: pointer;
                fill: rgba(13,154,201, 1);
            }
        }

    }
}
// up-btn
.up-btn{
    width: 40px;
    height: 40px;
    display: block;
    background-color:rgba($secondary-pink, .8);
    position: fixed;
    right:15px;
    bottom: 15px;
    z-index: 3;
    display: none;
    span{
        width: 15px;
        height: 15px;
        display: block;
        border-left: 1px solid $primary-white;
        border-top: 1px solid $primary-white;
        transform: rotate(45deg);
        position: absolute;
        top: 40%;
        left: 31%;
    }
    &:hover{
        background-color:rgba($secondary-pink, 1);
        cursor: pointer;
    }
}
.up-btn--active{
    display: block;
}

/*--------------- media ---------------*/

@media (min-width: 480px) {
    .container{
        padding: 0 30px;
    }
    .terms{
        &__inner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            grid-gap:30px;
            .terms__item {
                text-align: left;
                .icon{
                    margin-left: 0px;
                }
            }
        } 
    }

    footer{
        .container{
            display: flex;
            justify-content: space-between;
            .footer-nav{
                margin-top: 0;
                text-align: left;
            }
            .socials{
                margin-top: 0;
                display: block;
            }
            .copiryght{
                text-align: left;
            }
        }
     
    }
}
@media (min-width: 768px ) {
    .container{
        padding: 0 60px;
    }
    header {
        .container{
            padding: 20px 15px;
        }
        .header__left{
            .phone-number{
                display: none;
            }
        }
    
        .nav-toggle{
           display: none;
        }

        .header__nav{
            background-color:transparent;
            position: static;
            width:max-content;
            display: block;

            .nav__list{
                display: flex;
                li{
                    list-style: none;
                }
                .drop-down{
                    margin-right: 20px;
                    .arrow-icon{
                        margin-left: 0;
                        &::after{
                            content: '';
                            width: 10px;
                            height: 10px;
                            display:block;
                            border-left: 2px solid $secondary-grey;
                            border-bottom: 2px solid  $secondary-grey;
                            transform: rotate(-45deg);
                            position: absolute;
                            top: 10px;
                            left: 125px;
                        }
                    }
                    .dropp-down__menu{
                        width:220px;
                        position: absolute;
                        top: 63px;
                        left: 0;
                        background-color:$primary-black;
                        a{
                            margin-left: 0;
                        }
                    }

                }
                .icon--active .arrow-icon::after{
                    transform: rotate(135deg);
                    top: 15px;
                }
    
                .dropp-down__menu{
                    display: none;
                }
                a{
                    display: block;
                    text-transform: uppercase;
                    font-size: $f-size-little;
                    color:rgba($primary-white, .7);
                    padding: 10px 15px;
                    &:last-child{
                        border-bottom:none;
                    }
                    &:hover{
                        cursor: pointer;
                        color:$primary-pink;
                    }
                    
                }
    
            }
           
        }
        .dropp-down--active,
        .header__nav--active{
            display: block;
        }
        
    }

    .intro{
        .intro__content{
            h1{
                font-size: $f-size-big;
                line-height: 60px;
            }
        }
    }
    
    .services{
        .container{
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            .card{
                width: 50%;
                &__subscribe {
                    font-size: 20px;
                    padding: 20px 18px;

                }
            }
        }
    }

    .about {
        .about__content {
            display: flex;
            justify-content: space-between;
            .about__article{
                width: 48%;
                margin: 0;
                .skills {
                    margin-top: 50px;
                }
            } 
            .about__img{
                margin: 0;
                width: 48%;
            }
        }
    }    
    
    .terms{
        &__inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-gap:30px;

            .terms__item {
                max-width: 350px;
                text-align: left;
                .icon{
                    margin-left: 0px;
                }
            }
        } 
    }

    footer{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .footer-nav{
                display: flex;
                .nav-page{
                    margin-right: 50px;
                }  
            }
        }     
    }
}
